.background-radial-gradient {
  background-color: hsl(218, 18%, 91%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(225, 7%, 88%)15%,
      hsl(220, 10%, 88%) 35%,
      hsl(220, 6%, 81%) 75%,
      hsl(220, 5%, 76%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(220, 18%, 90%) 15%,
      hsl(218, 11%, 86%) 35%,
      hsl(223, 10%, 86%) 75%,
      hsl(222, 19%, 90%) 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#d6d4d7, #aba9ac);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#d0ced1, #e1dfe3);
  overflow: hidden;
}

/* .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  } */
/* .phone_inputs {
  border: 1px solid rgb(186, 189, 190);

} */

.number {
  margin-bottom: 1rem;
  font-family: "Manrope", sans-serif;
  color: #004e89;

  border-radius: 5px;
  margin-bottom: 0.5rem;

  /* width:100%;
  background-color: red; */
  
}
.phone_input{

  /* display: flex; */

}

.error_Message {
  color: red;
  font-size: 14px;
  margin-bottom: 0.5rem;
}